body {
  background-color: #313131;
  color: #fbfbfb
}

footer {
  text-align: center;
}
footer a {
  color: #cc2211;
}

.navbar {
  background-color: #cc2211;
  color: #fbfbfb;
  display: flex;
  font-size: 2rem;
  height: 2.5rem;
  margin: 0;
  justify-content: space-around;
  font-family: cursive;
}
.navbar a {
  background-color: #cc2211;
  color: #fbfbfb;
  text-decoration: none;
  padding: 0 2.5rem;
}
.navbar a:hover {
  background-color: #fbfbfb;
  color: #cc2211;
}

.content {
  text-align: justify-content;
}
.content .hobbies {
  list-style-type: square;
  list-style-position: outside;
}

